:root {
    --bg-color-primary: #158cba;

    --decoration-color-primary: rgb(2, 61, 121);
    --decoration-color-secondary: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h1 {
    font-size: 2.5em;
    font-family: "Lobster", sans-serif;
    /*ANIMAÇAO*/
    border-right: 2px solid var(--text-color-primary);
    white-space: nowrap;
    overflow: hidden;
}

/*CSS HEADER*/
#header {
    display: flex;
    height: 100px;
    box-shadow: 5px 10px 18px #1b1b1b;
}

#header a {
    font-weight: 500;
    margin: 0px 30px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
}

#header a:hover {
    box-shadow: 0 10px 0 0 var(--decoration-color-secondary) !important;
    padding-bottom: 20px;
    opacity: 1 !important;
}


#background-img {
    background-image: url("../image/bg-img1.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#background-img span {
    color: var(--decoration-color-primary);
    font-weight: 700;
    font-family: "Lobster", sans-serif;
}

/*ANIMAR PARAGRAFO DE BEM VINDO*/
.typing-animation {
    animation: typing 5s steps(50) 1s normal both;
}

/*keyframe para digitaçao do paragrafo*/
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 28em;
    }
}

/*ANIMAR ROLAGEM*/
#background-img img {
    animation: jumping 1s linear infinite;
    cursor: pointer;
    margin-top: 100px;
}

/*keyframe para a movimentação do botao jumppage*/
@keyframes jumping {
    from {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

/*SECTION ABOUT*/
#about {
    height: 70vh;
    margin-top: 50px;
    padding: 20px;
}

#about img {}

/*ANIMAR CARTAO*/

.virar-container {
    display: flex;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    perspective: 1000px;
}

.virar {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    transition: transform 0.8s;
}

.virar-container:hover .virar {
    transform: rotateY(180deg);
    /*animação na vertical = rotateX(180deg)*/
}

.frente,
.tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tras {

    transform: rotateY(180deg);
}

.tras ul {
    list-style: none;
}

.tras p {
    color: white;
    font-size: 0.8em;
}

/*SECTION HABILITS*/
#habilits {
    height: 100vh;
    padding: 20px;
    background-color: var(--bg-color-primary);

    box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
}

#habilits h2 {
    color: var(--decoration-color-secondary);
}

/*Barra de progresso circular*/
#barra-habil {
    width: 100%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#princ-habilits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*SECTION PROJECT*/
#projects {
    height: 100vh;
    margin-top: 50px;
    padding: 20px;
}

/*ANIMAR CARD PROJETO*/
.container-proj {
    width: 80vw;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

.card {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--text-color-secondary);
    cursor: pointer;
    font-size: 0.7em;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#672abf, #380e74);
}

.card #img1 {
    background-image: url('../image/api.png');
}

.card #img2 {
    background-image: url('../image/Capturarjogovelha.PNG');
}

.card #img3 {
    background-image: url('../image/Capturar.JPG');
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 1em;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--decoration-color-secondary);
    transform: translateY(30px);
}

.card .content a {color: var(--decoration-color-secondary);}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 1em;
    font-weight: 600;
}

.card .content .desc {
    font-size: 1em;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
    color: var(--decoration-color-secondary);
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 2em;
}

/*SECTION CONTAT*/
#contat {
    height: 50vh;
    padding: 20px;
    background-color: var(--bg-color-primary);
    margin-top: 200px;


    box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 1px 1px 12px 11px rgba(0, 0, 0, 0.73);
}

/*ANIMAR CONTAT*/
.backblue {
    background-color: white;
    display: flex;

    -webkit-box-shadow: -1px 0px 0px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 0px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 0px 9px rgba(0, 0, 0, 0.75);
}

.links {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#in {
    background-image: url("../image/linkedin-1.png");

}

#gh {
    background-image: url("../image/github-2.png");
}

.container {
    position: relative;
    padding-top: 70px;
    max-width: 700px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    margin: 0 auto;
}

.element {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: animar2 2s alternate infinite;
    /*animation-direction: alternate-reverse;
    
    animation-name: animar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    */
}

@keyframes animar2 {
    0% {
        background: blue;
        left: 0;
    }

    50% {
        left: 50%;
        transform: rotate(45deg);
        background: blueviolet;
        border-radius: 0;
    }

    100% {
        left: 90%;
        transform: rotate(135deg);
        background: blue;
        border-radius: 50%;
    }
}


/*Footer*/
footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;

}

footer #footer-card {
    border-top: 2px solid black;
    font-size: 2em;
}



/*RESPONSIVE MOBILE*/
@media (max-width: 425px) {
    h1 {
        font-size: 0.85em;
    }

    h2 {
        margin: 0;

    }

    #header a {
        font-size: 0.5em;
    }

    #col {
        display: flex;
        flex-direction: column;
    }

    #historia {
        width: 90vw;
    }

    #perfil-foto {
        width: 90vw;
    }

    #habilits {
        margin-top: 450px;
        height: 270vh;
    }

    #projects {
        height: 150vh;
    }

    #contat {
        margin-top: 400px;
    }

    .links {
        width: 70px;
        height: 70px;

    }

    .container {
        padding-top: 0px;
        max-width: 400px;
    }


    @keyframes animar2 {
        0% {
            background: blue;
            left: 0;
        }

        50% {
            left: 50%;
            transform: rotate(45deg);
            background: blueviolet;
            border-radius: 0;
        }

        100% {
            left: 70%;
            transform: rotate(135deg);
            background: blue;
            border-radius: 50%;
        }
    }

    footer #footer-card {
        font-size: 1em;
    }
}